body {
    background-image: url('/workspaces/cenicroom/cenic1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;  /* สีข้อความ */
    font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
    color: #ffffff; /* สีหัวเรื่อง */
}
