body {
    background-image: url('cenic1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #05539cf1;  /* สีข้อความ */
    font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
    color: #1406df; /* สีหัวเรื่อง */
}
